    :root {
        --bg-color: #22181f;
          --gold:#9e6930;
          --hover-gold: #e1cba5; /* lighter gold */
          --purple: #6C4A79;
      }
      html, body {
        overscroll-behavior: none;
        margin: 0;
        color:var(--bg-color);
        font-family: system-ui, -apple-system, sans-serif;
      }
      
      .about-section {
        position: relative;
        height: 50vh;
        width: 100vw; /* Use viewport width */
        overflow: visible;
        background-color: var(--bg-color); /* Set a consistent background color */
      }
      
      .panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem; /* Consider adjusting padding if needed after centering */
        top: 50%; /* Position the top edge at the vertical center */
        transform: translateY(-50%); /* Move the element up by half its height */
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .panel.plain {
        background: var(--bg-color);
        flex-direction: column;
        color:var(--gold);
      }
      
      .panel.solid.light {
        background:var(--gold);
        color: var(--purple);
      }

      
      .panel.solid.purple {
        background:var(--purple);
        color:var(--gold);
      }
      
      .vh-60 {
 height: 60vh !important;
      }
      
      .content {
        max-width: 800px;
      }

      .about-section .panel:last-child .content {
        margin-top: 50px; /* Adjust the top margin as needed */
      }
      
      .content p {
        font-size: 1.5rem; /* Adjust the size as needed */
        transition: font-size 0.3s ease-in-out; /* Smooth transition for font size */
      }
      .content p:hover span{
        color:var(--hover-gold);
        transition: color 0.3s ease-in-out; /* Smooth transition for span color */
      }
      .content p:hover {
        font-size: 1.55rem;
      }
      .content p span {
        /* Ensure spans also transition color on hover */
        transition: color 0.3s ease-in-out;
      }