:root {
    --bg-color: #22181f;
    --gold: #9e6930;
    --hover-gold: #e1cba5;
    --purple: #6C4A79;
    --light-text: #f0f0f0;
  }
  
  .about-section {
    background-color: var(--bg-color);
    color: var(--light-text);
    padding: 4rem 2rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .about-section .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .about-section p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: var(--light-text);
  }
  
  .about-section .highlight {
    color: var(--hover-gold);
    font-style: italic;
    font-weight: bold;
  }
  
  .about-section .separator {
    height: 2px;
    width: 100px;
    background-color: var(--gold);
    margin: 3rem auto;
    border-radius: 2px;
  }
  
  .about-section .panel {
    padding: 4rem 0;
  }
  
  .panel.solid.light {
    background: var(--gold);
    color: var(--bg-color);
  }
  
  .panel.solid.light h2 {
      color: var(--bg-color);
  }
  
  .panel.solid.purple {
    background: var(--purple);
    color: var(--light-text);
  }
  
  .panel.solid.purple h2 {
      color: var(--light-text);
  }
  
  
  @media (max-width: 768px) {
    .about-section {
      padding: 2rem 1rem;
    }
  
    .about-section h2 {
      font-size: 2rem;
    }
  
    .about-section p {
      font-size: 1.2rem;
    }
  }
  