.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Reduced gap */
  padding: 10px; /* Reduced padding */
  background-color: #1a1418;
  color: var(--gold); /* Changed text color to gold */
  min-height: 100px; /* Set a minimum height instead of fixed */
  justify-content: center; /* Vertically center content */
  padding-top: 80px; /* Added responsive top padding - default */
  z-index: 10; /* Ensure footer is on top */
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  width: 50px;
  transform: rotate(90deg);
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center; /* Vertically align list items */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.footer-links li {
  cursor: pointer;
  color: var(--gold); /* Changed list item color to gold */
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-icons-container {
  color:var(--gold); /* Ensure social icon color is gold */
}

.footer-copyright {
  text-align: center;
  margin-top: 10px; /* Add some space above copyright */
  color: var(--gold); /* Changed copyright text color to gold */
}

.footer-copyright hr {
  margin: 10px 0; /* Reduced margin */
  border: none;
  height: 1px;
  background-color: var(--gold); /* Changed line color to gold */
}

/* Basic Mobile Responsiveness */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    height: auto; /* Allow height to adjust on smaller screens */
    padding-top: 40px; /* Adjusted top padding for smaller screens */
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social-icon {
    justify-content: center;
  }
}

:root {
  --purple: #22181f;
  --gold:#9e6930;
  --hover-gold: #e1cba5;
}