body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #22181f !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 15px; 
  background-color: #22181f;

}

@font-face {
    font-family: 'Arabic';
    src: url('./components/assets/arabic.ttf') format('truetype');
    font-weight: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'English';
    src: url('./components/assets/english.ttf') format('truetype');
    font-weight: normal;
    font-display: swap; }

:lang(ar) {
    font-family: 'Arabic', sans-serif;
}

:lang(en){
    font-family: 'English', sans-serif;
}
